# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Node
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
ENV/

# Java / Maven / Gradle
**/target/
**/.classpath
**/.project
**/.settings/

# Logs
*.log

# Env files
.env
.env.*
